<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>我这的空气，有你的味道</string>
	<string>想念你掌心的温度</string>
	<string>我的心为你乱了方寸</string>
	<string>给那个人的情书</string>
	<string>来我梦中就别再走</string>
	<string>你是故事的开始</string>
	<string>你别过来，别过来，过来，来...</string>
	<string>爱情讲求个恰到好处</string>
	<string>晚安，这座城</string>
	<string>我喜欢你，喜欢你，欢你，你...</string>
	<string>天灵灵，地灵灵</string>
	<string>世上所有生命都在微妙中平衡</string>
	<string>温和的坚持并且微笑</string>
	<string>以身外身，做梦中梦</string>
	<string>霓虹闪烁，泪眼朦胧</string>
	<string>因为你，爱上了一座城</string>
	<string>打饭自习,占座位,青春爱情,随风去</string>
	<string>毕业不分手</string>
	<string>靠近，犹豫，犹豫，靠近</string>
	<string>一个人怕孤独，两个人怕辜负</string>
	<string>思念，犯贱一步之遥</string>
	<string>青春骊歌</string>
	<string>世界那么大</string>
	<string>我被困在爱情里</string>
	<string>我愿陪你浪费时间</string>
	<string>然而，并没什么卵用</string>
	<string>平常项目，已经有些倦怠</string>
	<string>哪有那么多巧合</string>
	<string>谢谢你和我谈恋爱</string>
	<string>友谊不散，青春不朽</string>
	<string>十年后我们再相聚</string>
	<string>夜已深，我在等</string>
	<string>稀饭你！</string>
	<string>醉生梦死</string>
	<string>诗和远方</string>
	<string>宁可燃烧，绝不苟且</string>
	<string>我爱的人儿啊，你慢些走</string>
	<string>我懂，你只是不爱我</string>
	<string>等待，希望</string>
	<string>我的ta，你还在那么</string>
	<string>时来运转</string>
	<string>听说爱情回来过</string>
	<string>我们不合适</string>
	<string>认真哭一场</string>
	<string>爱你就是爱自己</string>
	<string>白衣飘飘的年代</string>
	<string>地老天荒</string>
	<string>似水流年</string>
	<string>开往春天的地铁</string>
</array>
</plist>
